.tooltip {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid silver;
  color: #222;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

#details, #detalle-provincia, .detalle-lateral {
  margin-top: 7rem;
}

.footer {
    border-top: 1px solid silver;
    color: #888888;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#close-details {
  color: #8ba28f;
  text-decoration: none;
  font-size: 2rem;
  text-align: right;
  line-height: 4.5rem;
}
#close-details:hover {
  color: red;
}

#map {
  font-size: 0; /* to prevent margin at bottom of map container */
  border: 1px solid silver;
  /*background: #E6E6E6;*/
    
  /* un violeta */
  /* background: #493965; */
  /* un gris: */
  background: #a2a2a2;
    
}

#legend {
  border: 1px solid silver;
  border-bottom: 0;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Thanks to http://colorbrewer2.org/ */
.YlGnBu .q0-9{fill:rgb(255,255,217)}
.YlGnBu .q1-9{fill:rgb(237,248,177)}
.YlGnBu .q2-9{fill:rgb(199,233,180)}
.YlGnBu .q3-9{fill:rgb(127,205,187)}
.YlGnBu .q4-9{fill:rgb(65,182,196)}
.YlGnBu .q5-9{fill:rgb(29,145,192)}
.YlGnBu .q6-9{fill:rgb(34,94,168)}
.YlGnBu .q7-9{fill:rgb(37,52,148)}
.YlGnBu .q8-9{fill:rgb(8,29,88)}
.YlGnBu .q-missing{fill:rgb(169,164,164)}
.YlGnBu .q-too-low-value{fill:rgb(247,247,247)}

g.features {
  stroke: #d8d8d8;
  stroke-width: 0.8;
}


label {
  display: inline-block;
  text-align: right;
}

.buttons-box{
    margin-top: 1%;
}

#cartelito-no-existe {
    color: firebrick;
}

#cartelito-no-existe span{
    font-weight: bold;
}

/* estilo para un feature cuando el usuario lo selecciona */
.active{
    position: absolute;
    z-index: 99999999999999999999;
    stroke-width: 0.07rem;
    stroke: #ffb020;  /* un naranjita */
    
}
.filtered{
    position: absolute;
    stroke-width: 0.07rem;
    stroke: #ffeb3b;  /* un amarillito */
    
}

/* Copiamos el estilo de skeleton para el selector */
select {
    margin-bottom: 1.5rem;
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    background-color: -internal-light-dark-color(white, black);
    cursor: default;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* Copiamos estilo de las tablas de skeleton: */
table {
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    margin-bottom: 0;
}
td, th {
    padding: 6px 9px;
}

table th {
    padding-left: 0;
}

td:last-child, th:last-child {
    padding-right: 0;
}

td {
  text-align: right;
}

table tr{
    border-bottom: 1px solid #3a3a3d14;
}

#indicadoresChart-container {
    margin-top: 8%;
    margin-bottom: 10%;
}

.ir-a-detalle {
    text-align: center;
    font-stretch: condensed;
}